* {
    font-family: Inter, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #30333D;
}

button {
    border: none;
    text-decoration: none;
    background-color: #30333D;
    color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;

    &:hover {
        background-color: #3b3d42;
    }
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: #232A34;
    margin: 0;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7.5vh;

        span {
            font-weight: 900;
            margin: 0 .1em 0 .1em;
        }

        .span-francophone {
            color: #4584FF;
        }

        .span-flag {
            color: white;
        }

        .span-guesser {
            color: #FF5C5C
        }
    }
}



.guesser {
    background-color: #212329;
    width: 40%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 4em;

    .flag-image {
        width: auto;
        height: 70%;
        max-width: 100%;
        display: block;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        width: auto;
        flex-grow: 1;
        gap: 20px;
        align-self: stretch;
        margin: 20px;


    }

}



.answer {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
    height: auto;
    width: auto;
    margin-top: 5%;

    .new-flag-button {
        padding: 20px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {


    .header {


        .title {
            height: 10vh;

            justify-content: center;

            span {
                margin: 1em 0;
                font-size: 1.5rem;
            }

            .span-francophone {
                color: #4584FF;
            }

            .span-flag {
                color: white;
            }

            .span-guesser {
                color: #FF5C5C
            }
        }
    }

    .guesser {
        background: #30333D;
        width: auto;
        height: auto;
        padding: 4em;
        margin: 0;

        .flag-image {
            width: 100%;

            max-width: 100%;
            display: block;
        }

        .button {
            background-color: #212329;
            padding: 1rem;

            &:hover {
                background-color: #3b3d42;
            }
        }
    }
}